<a href="https://colab.research.google.com/github/shamshudzoha2002-prog/python--assignments/blob/main/for_loop_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Question 1 (Easy)

**Title:** Print 1 to 10

### Problem Statement:
Print numbers from 1 to 10 using a for loop.

### Approach:
Use `range(1, 11)` inside a `for` loop and print each value.

In [ ]:
# write your code here
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

## Question 2 (Easy)

**Title:** Sum of First N Numbers

### Problem Statement:
Take an integer N as input and find the sum of numbers from 1 to N.

### Approach:
Initialize sum = 0, loop from 1 to N, add each value to sum.

In [ ]:
# write your code here
N=int(input("Enter the value of N: "))

sum=0
for i in range (1 , N+1):
  sum += i
  print(sum)

Enter the value of N: 10
1
3
6
10
15
21
28
36
45
55

## Question 3 (Easy)

**Title:** Even Numbers from 1 to 50

### Problem Statement:
Print all even numbers between 1 and 50.

### Approach:
Loop from 1 to 50 and check `i % 2 == 0`.

In [ ]:
# write your code here
for i in range(1,51):
  if i%2== 0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

## Question 4 (Easy)

**Title:** Count Multiples of 3

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by 3.

### Approach:
Use a counter variable and increment when `i % 3 == 0`.

In [ ]:
# write your code here
N=int(input("Enter the value of N: "))
count=0
for i in range(1,N+1):
  if i%3==0 :
    count+=1
    print(count)

Enter the value of N: 20
1
2
3
4
5
6

## Question 5 (Easy)

**Title:** Multiplication Table

### Problem Statement:
Take a number as input and print its multiplication table from 1 to 10.

### Approach:
Loop from 1 to 10 and multiply with the input number.

In [ ]:
# write your code here
num=int(input("Enter number : "))
for i in range(1,11):
   result=num*i
   print(f"{num} x {i} = {result} ")

Enter number : 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

## Question 6 (Easy)

**Title:** Factorial of a Number

### Problem Statement:
Take a number N as input and find its factorial.

### Approach:
Initialize fact = 1 and multiply values from 1 to N.

In [ ]:
# write your code here
N=int(input("Enter number : "))
fact=1
for i in range (1,N+1) :
  fact= fact *i
print(f" factorial of {N} : {fact}")

Enter number : 5
 factorial of 5 : 120

## Question 7 (Easy)

**Title:** Running Sum

### Problem Statement:
Take N as input and print the running sum from 1 to N.

### Approach:
Use a sum variable and update it in each iteration.

In [ ]:

N=int(input("Enter the value of N:"))
sum=0
for i in range(1,N+1):
  sum += i
  print(sum)

Enter the value of N:10
1
3
6
10
15
21
28
36
45
55

## Question 8 (Easy)

**Title:** Add 5 to Each Number

### Problem Statement:
Take N as input and add 5 to each number from 1 to N and print the result.

### Approach:
Loop from 1 to N and use shorthand `value += 5`.

In [ ]:
# write your code here
N=int(input("Enter the value of N: "))
for i in range(1,N+1):
  print(i+5)

Enter the value of N: 2
6
7

## Question 9 (Easy)

**Title:** Count Even and Odd Numbers

### Problem Statement:
Take N as input and count how many even and odd numbers are there between 1 and N.

### Approach:
Use two counters and check with modulo operator.

In [1]:
# write your code
even_count= 0
odd_count = 0

N=int(input("enter number : "))
for i in range (1,N+1):
  if i % 2 == 0 :
    even_count += 1
  else:
    odd_count += 1
print(f"even count : {even_count}")
print(f"odd count : {odd_count}")

enter number : 7
even count : 3
odd count : 4

## Question 10 (Easy)

**Title:** Squares from 1 to N

### Problem Statement:
Take N as input and print the square of each number from 1 to N.

### Approach:
Use `i * i` inside the loop.

In [ ]:
# write your code here
N=int(input("Enter the value of N : "))
for i in range(1,N+1):
  print(i*i)

Enter the value of N : 10
1
4
9
16
25
36
49
64
81
100

## Question 11 (Medium)

**Title:** Sum of Even and Odd Separately

### Problem Statement:
Take N as input and find the sum of all even numbers and all odd numbers between 1 and N.

### Approach:
Use two sum variables and check each number with modulo.

In [2]:
# write your code here
N=int(input("Enter the value of N: "))

sum_even = 0
sum_odd = 0

for i in range(1,N+1) :
   if i % 2==0 :
     sum_even +=i
   else:
      sum_odd += i
print(f"sum of even number : {sum_even}")
print(f"sum of odd number : {sum_odd}")

Enter the value of N: 10
sum of even number : 30
sum of odd number : 25

## Question 12 (Medium)

**Title:** Divisible by 3 and 5

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by both 3 and 5.

### Approach:
Use logical AND condition inside the loop.

In [31]:
# write your code here
N=int(input("enter number :"))
count=0
for i in range (1,N+1):
  if i%3==0 and i%5==0:
    count +=1
print(count)

enter number :100
6

## Question 13 (Medium)

**Title:** Skip Multiples of 4

### Problem Statement:
Take N as input and print numbers from 1 to N but skip multiples of 4.

### Approach:
Use `continue` when the number is divisible by 4.

In [14]:

N= int(input("enter number : "))
for i in range (1,N+1):
  if i%4==0:
   continue
  print(i)

enter number : 10
1
2
3
5
6
7
9
10

## Question 14 (Medium)

**Title:** Find the Largest Number

### Problem Statement:
Take N as input and find the largest number between 1 and N using a loop.

### Approach:
Assume the first value as largest and update using `if`.

In [25]:
N=int(input("enter number : "))
largest=0
for i in range (1,N+1):
  if i>largest:
    largest=i
print("largest number : {largest}")

enter number : 10
largest number : {largest}

## Question 15 (Medium)

**Title:** Power of a Number

### Problem Statement:
Take two numbers `a` and `b` as input and calculate `a` raised to the power `b` using a for loop.

### Approach:
Initialize result = 1 and multiply it `b` times.

In [28]:
a= int(input("enter base number (a) :"))
b=int(input("enter power (b) : "))
result = 1
for i in range (b):
  result *=a
print(f"{a} raised to the power of {b} is : {result}")

enter base number (a) :10
enter power (b) : 10
10 raised to the power of 10 is : 10000000000

## Question 16 (Hard)

**Title:** Check Prime Number

### Problem Statement:
Take a number as input and check whether it is prime or not.

### Approach:
Loop from 2 to N-1 and use `break` if divisible.

In [16]:
# write your code here
N=int(input("enter number : "))

for i in range (2,N-1) :
  if N%i == 0 :
    print("not prime number ")
  else:
    print("prime number ")
    break

enter number : 67
prime number

## Question 17 (Hard)

**Title:** Prime Numbers Between 1 and N

### Problem Statement:
Take N as input and print all prime numbers between 1 and N.

### Approach:
Use nested loops and a flag variable for prime checking.

In [18]:
# write your code here
N=int(input("enter number : "))

for num in range (2,N+1):
  is_prime=True
  for i in range (2,num):
    if num%i==0:
      is_prime= False
      break
  if is_prime:
    print(num)

enter number : 10
2
3
5
7

## Question 18 (Hard)

**Title:** First Number Divisible by 7 and 11

### Problem Statement:
Take N as input and find the first number between 1 and N that is divisible by both 7 and 11. Stop after finding it.

### Approach:
Use logical AND and stop the loop using `break`.

In [24]:
# write your code here
N= int(input("enter number :"))

found= False
for i in range (1,N+1):
  if i%7==0 and i%11==0:
    print(i)
    found =True
    break
if not found:
   print("no number found")

enter number :66
no number found

## Question 19 (Hard)

**Title:** Number Pattern

### Problem Statement:
Take N as input and print a right-angled number pattern using nested loops.

Example:
1
12
123

### Approach:
Use an outer loop for rows and an inner loop for printing numbers.

In [34]:
# write your code here
N=int(input("enter number of rows : "))
print("Patter :")

for i in range (1,N+1):
  for j in range(1,i+1):
    print(j,end= " ")

enter number of rows : 5
Patter :
1 1 2 1 2 3 1 2 3 4 1 2 3 4 5

## Question 20 (Hard)

**Title:** Perfect Number Check

### Problem Statement:
Take a number as input and check whether it is a perfect number or not.

### Approach:
Find sum of all factors using a loop and compare with the number.

In [19]:
# write your code here
num=int(input("enter number : "))
sum_of_factors= 0

for i in range (1,num):
   sum_of_factors += i

if sum_of_factors == num:
  print("perfect number")
else:
  print("Not perfect number")

enter number : 10
Not perfect number