### Question 1: List (Order and Duplicates)

You are given a list of daily sales amounts:

```python
sales = [1200, 1500, 1200, 1800, 1500]
```

Tasks:
1. Print the total sales
2. Print the highest sale
3. Print how many times `1200` appears

In [1]:
# write your code here
sales=[1200,1500,1200,1800,1500]
print(sum(sales))
print(max(sales))
print(sales.count(1200))

7200
1800
2

### Question 2: Tuple (Fixed Data)

You are given a tuple that stores a student’s basic information:

```python
student = ("Aman", 21, "Delhi")
```

Tasks:
1. Print the student’s name
2. Print the student’s age
3. Try to update the age and observe what happens

In [3]:
# write your code here
student=("Aman",21,"Delhi")
print(student[0])
print(student[1])
student[1]=22
print(student)

Aman
21

TypeError: 'tuple' object does not support item assignment

### Question 3: Set (Uniqueness)

You are given two lists of students who attended two different workshops:

```python
day1 = ["Rahul", "Aman", "Neha", "Rahul"]
day2 = ["Neha", "Aman", "Sita"]
```

Tasks:
1. Convert both lists into sets
2. Print students who attended both days
3. Print students who attended only Day 1

In [5]:
# write your code here
day1=["Rahul","Aman","Neha","Rahul"]
day2=["Neha","Aman","Sita"]
set1=set(day1)
set2=set(day2)
print("set1: ",set1)
print("set2: ",set2)
print(set1.intersection(set2))
print(set1.difference(set2))

set1:  {'Rahul', 'Neha', 'Aman'}
set2:  {'Sita', 'Neha', 'Aman'}
{'Neha', 'Aman'}
{'Rahul'}

### Question 4: Dictionary (Key-Value Mapping)

You are given marks of students in a subject:

```python
marks = {
    "Rahul": 85,
    "Aman": 90,
    "Neha": 78
}
```

Tasks:
1. Print marks of "Aman"
2. Add marks for "Sita" = 88
3. Update "Neha" marks to 80
4. Print all student names and their marks using a loop

In [6]:
from re import M
# write your code here
marks={
    "Rahul":85,
    "Aman":90,
    "Neha":78
}
print(marks["Aman"])
marks["Sita"]=88
marks["Neha"]=80
print(marks)

90
{'Rahul': 85, 'Aman': 90, 'Neha': 80, 'Sita': 88}

### Question 5: Mixed Data Structures (Real-Life Scenario)

You are given a list of orders:

```python
orders = ["apple", "banana", "apple", "orange", "banana", "apple"]
```

Tasks:
1. Find all unique products
2. Create a dictionary that stores product and its count
3. Print each product and its count

In [7]:
# write your code here
orders=["apple","banana","apple","orange","banana","apple"]
print(set(orders))
print(orders.count("apple"))
print(orders.count("banana"))
print(orders.count("orange"))

{'banana', 'apple', 'orange'}
3
2
1